//fonts -Poppins from google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

//colors
$color-primary: #128c7e;
$color-primary-dark: #184248;
$color-accent: #fcff6a;

//backgrounds
.nk-bg-primary-dark {
  background-color: $color-primary-dark;
}

.nk-bg-primary {
  background-color: $color-primary;
}

.nk-bg-accent {
  background-color: $color-accent;
}

.nk-bg-light {
  background-color: rgb(243, 243, 243);
}

//text colors

.nk-tx-light {
  color: white;
}
.nk-tx-accent {
  color: $color-accent;
}
.nk-tx-primary {
  color: $color-primary;
}
.nk-tx-primary-dark {
  color: $color-primary-dark;
}

// font-styles
.nk-ft-heavy {
  font-weight: 900;
}
.nk-ft-bold {
  font-weight: 800;
}
.nk-ft-semibold {
  font-weight: 700;
}
.nk-ft-medium {
  font-weight: 500;
}
.nk-ft-regular {
  font-weight: 400;
}
.nk-ft-light {
  font-weight: 300;
}
.nk-ft-extralight {
  font-weight: 200;
}

@media screen and (max-size: 576px) {
}

@media screen and (min-size: 577px) and (max-size: 767) {
}

@media screen and (min-size: 768px) and (max-size: 992px) {
}

@media screen and (min-size: 993px) and (max-size: 1200px) {
}
@media screen and (min-size: 1201px) and (max-size: 1400px) {
}

@media screen and (min-size: 1401px) {
}
